KEEPEDU_BUSCAR_ID_URL=https://develop.keepedu.com.br/gestor/alunos/buscar-id-aluno
KEEPEDU_API_KEY=COLOQUE_SUA_API_KEY_AQUI
KEEPEDU_INSTITUTE=COLOQUE_O_INSTITUTE_AQUI
ID_PROVA_KEEPEDU=

APP_DATA_DIR=/data
HOST=0.0.0.0
PORT=8000

MAX_UPLOAD_FILES=300
MAX_FILE_SIZE_MB=15
MAX_TOTAL_UPLOAD_SIZE_MB=512
